.bg_test{
    padding-bottom: 30px;
}
.container-fluid{
    background-color: #29487d;
 
    
}
.bg_text{
    margin-top:40px;
}
.name{
    margin-top: 20px;
    background-color: white;
}
.address{
    margin-top: 20px;
}
.date{
    margin-top: 20px;
}
.para{
    margin-left: 275px;
    margin-top: -40px;
}
.button{
    margin-top: 12px;
    margin-left: 120px;
}


